.header{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header::after{
    content: " ";
    background-image: url('/assets/imagem/icons/tres-pontos.png');
    width: 24px;
    height: 24px;
    background-size: contain;
    position: relative;
    left: 59.375rem;
    bottom: 19.375rem;
    background-repeat: no-repeat;
}

.header .title {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.information p::before{
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url('/assets/imagem/icons/junior.png');
}

.information .locacion::before {
    background-image: url('/assets/imagem/icons/mapa.png');
}

.information .phone a {
    color: #fff;
    text-decoration: none;
}

.information .phone a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.information .phone::before {
    background-image: url('/assets/imagem/icons/whatsapp.png');
}

.information .gmail a{
    color: #fff;
    text-decoration: none;
}
.information .gmail a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.information .gmail::before {
    background-image: url('/assets/imagem/icons/gmail.png');
}

@media only screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-areas: "photo title" "photo information";
        
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 250px;
        
        
    }
    
    .header .information{
        grid-area: information ;
       justify-self: center;
       align-self: self-end;
    }
  }